<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790021956329-39rtkj301f7f9tf61v0q1qfnmuhhd3rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790021956329-39rtkj301f7f9tf61v0q1qfnmuhhd3rf</string>
	<key>API_KEY</key>
	<string>AIzaSyA9ospWGvyy3ynGIeLVY-UGqUlqhIywRNI</string>
	<key>GCM_SENDER_ID</key>
	<string>790021956329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Sneakers-Marketplace</string>
	<key>PROJECT_ID</key>
	<string>sneakers-marketplace</string>
	<key>STORAGE_BUCKET</key>
	<string>sneakers-marketplace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790021956329:ios:fa9c8323c6401e31cdc678</string>
</dict>
</plist>